<h3 class="text-center mb-2">Detalles del empleado</h3>

<div class="container-fluid d-flex justify-content-center mt-4">
<div class="card text-center" style="width: 18rem;">
  <img src="../../../assets/img/pngwing.com.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"> ID : {{empleado.id}}</h5>
    <p class="card-text"><span class="fw-bold">Nombre:</span> {{empleado.nombre}}</p>
    <p class="card-text"><span class="fw-bold">Apellido:</span> {{empleado.apellido}}</p>
    <p class="card-text"><span class="fw-bold">Email:</span> {{empleado.email}}</p>
    <a href="/" class="btn btn-primary d-flex align-items-center justify-content-center"> <span class="material-symbols-outlined">arrow_back</span>Volver al listado</a>
  </div>
</div>
</div>
